<header class="header">
    <nav class="navigation header__nav">
        <span class="logo">
            <a class="link" href="#">
                <i class="logo__link_light">Поиск</i>Доктор
            </a>
        </span>
        <ul class="navigation__nav-list">
            <li class="navigation__nav-list-item">
                <a class="link" href="#">Врачи</a>
            </li>
            <li class="navigation__nav-list-item">
                <a class="link" href="#">Клиники</a>
            </li>
            <li class="navigation__nav-list-item">
                <a class="link" href="#">Диагностика</a>
            </li>
        </ul>
    </nav>
    <div class="header__controls">
        <a class="link" href="#"><i class="fa fa-search" aria-hidden="true"></i> Поиск</a>
        <a class="link" href="#">Вход</a>
        <button class="button button_yellow">Регистрация</button>
    </div>
</header>