<footer class="footer">
    <aside class="aside aside_left">
        <span class="logo">
            <a class="link" href="#">
                <i class="logo__link_light">Поиск</i>Доктор
            </a>
        </span>
        <ul class="aside__link-list">
            <li class="aside__link-list-item"><a class="link" href="#">О нас</a></li>
            <li class="aside__link-list-item"><a class="link" href="#">Правила сервиса</a></li>
            <li class="aside__link-list-item"><a class="link" href="#">Помощь</a></li>
        </ul>
    </aside>
    <aside class="aside aside_right">
        <span class="aside__working-time">Пн – Вс с 10:00 до 19:00</span>
        <ul class="aside__link-list">
            <li class="aside__link-list-item"><a class="link" href="#">Обратный звонок</a></li>
            <li class="aside__link-list-item"><a a class="link" href="#">Отправить заявку</a></li>
        </ul>
        <div class="social-links">
            <a class="link" href="#"><img class="social-links__icon" src="icons/vk.png"></a>
            <a class="link" href="#"><img class="social-links__icon" src="icons/facebook.png"></a>
            <a class="link" href="#"><img class="social-links__icon" src="icons/twitter.png"></a>
        </div>
    </aside>
</footer>
