<div ng-class="{deactivated: !$ctrl.checked}">
    <div class="filter-header">
        <span class="filter-name">РАЙОН ПОИСКА:</span>
        <span gv-toggle="DistrictFilter"></span>
    </div>
    <div class="filter-body">
        <img class="link-icon icon-active" src="icons/pencil.png">
        <img class="link-icon icon-deactivated" src="icons/pencil-deactivated.png">
        <a class="link link_dashed-underline link_regular" href="#">Нарисовать на карте</a><span class="star"> *</span>
        <p class="comment">
            * Теперь вы можете обводить тот участок города где вам удобней всего
        </p>
    </div>
</div>