<div class="panel panel_extended-search">
    <section class="section section_extended-search"
             ng-if="$ctrl.visible">
        <div class="section__header section__header_extended-search">
            <h1 class="section__header-text">Расширенный поиск</h1>
            <a class="link" ng-click="$ctrl.hide()">
                <img src="icons/close.png">
            </a>
        </div>

        <div class="filter-container">
            <experience-filter class="filter exp-filter"></experience-filter>
            <price-filter class="filter price-filter"></price-filter>
            <district-filter class="filter district-filter"></district-filter>
            <date-filter class="filter margin-block date-filter"></date-filter>
            <time-filter class="filter margin-block time-filter"></time-filter>
            <rating-filter class="filter margin-block rating-filter"></rating-filter>
        </div>
    </section>
</div>